---
import { Image } from "astro:assets";

import Mainlayout from "../components/Mainlayout.astro";
import Burgermenu from "../components/Burgermenu.astro";
import Footer from "../components/Footer.astro";
import Scrollarrow from "../components/Scrollarrow.astro";
import Normalbutton from "../components/Normalbutton.astro";
import Instacarousel from "../components/Instacarousel.astro";

import GoldDetailRight from "../assets/svgs/gulddetaljerhøjre.svg";
import GoldDetailLeft from "../assets/svgs/gulddetaljervenstre.svg";
import Logo from "../assets/svgs/nuditealogo.svg";

import Nightsky from "../assets/imgs/nightsky.webp";
import Menu from "../assets/imgs/forside_ourmenu.webp";

import { getImage } from "astro:assets";
import WebBg from "../assets/imgs/forsidebilledeweb.webp";
import MobileBg from "../assets/imgs/forsidebilledemobile.webp";

const optimizedWebBackground = await getImage({ src: WebBg });
const optimizedMobileBackground = await getImage({ src: MobileBg });

import "../styles/burger.css";
import "../styles/master.css";
import "../styles/index.css";
---

<!-- husk at sætte burgermenu og navbar i en header og andet indhold (undtagen footer) i en main :-) -->
<Mainlayout title="NudiTea - Forside">
  <!-- Dette er pop-up beskeden -->
  <script>
    function showPopup() {
      alert("This is a School Project");
      localStorage.setItem("popupShown", "true");
    }

    window.onload = function () {
      var popupShown = localStorage.getItem("popupShown");
      if (!popupShown) {
        showPopup();
      }
    };
  </script>
  <!-- -------------------------- -->
  <header class="index_header">
    <p>100% plantebaserede produkter</p>
    <div class="nav_container">
      <div class="rightgold">
        <img src={GoldDetailRight.src} alt="guldramme" />
      </div>
      <div class="leftgold">
        <img src={GoldDetailLeft.src} alt="guldramme" />
      </div>
      <div class="center_frontpage_container">
        <div class="center_frontpage">
          <a href="/" aria-label="Logo Button" class="logo_container">
            <img src={Logo.src} alt="Logo" class="logo" />
          </a>
          <h3>
            Din spirituelle Bubble Tea butik med fokus på høj kvalitet og god
            energi
          </h3>
          <div class="nav-buttons">
            <a href="/" aria-label="Front Page" class="nav-button">Forside</a>
            <a href="/menu" aria-label="Menu Page" class="nav-button">Menu</a>
            <a href="/about" aria-label="About Page" class="nav-button">Om os</a
            >
          </div>
        </div>
      </div>
    </div>
    <Burgermenu />
  </header>
  <main>
    <Scrollarrow />
    <section class="closingtimes">
      <h2>Åbningstider</h2>
      <ul class="day">
        <li>Mandag</li>
        <li>Tirsdag</li>
        <li>Onsdag</li>
        <li>Torsdag</li>
        <li>Fredag</li>
        <li>Lørdag</li>
        <li>Søndag</li>
      </ul>
      <ul class="time">
        <li>12-18</li>
        <li>12-18</li>
        <li>12-18</li>
        <li>12-18</li>
        <li>12-19</li>
        <li>12-19</li>
        <li>12-19</li>
      </ul>
    </section>
    <section class="our_menu">
      <Image src={Menu} alt="bubble tea" />
      <div class="our_container">
        <div class="rightgold">
          <img src={GoldDetailRight.src} alt="guldramme" />
        </div>
        <div class="leftgold">
          <img src={GoldDetailLeft.src} alt="guldramme" />
        </div>
        <h2>Vores menu</h2>
        <p>
          Hos Nudi Tea går vi op i at vores produkter er af god kvalitet, sådan
          at vi kan sikre den bedst mulige smagsoplevelser for vores kunder. Vi
          tilbyder et bredt sortiment af smage, så der er noget for enhver.
        </p>
        <Normalbutton state="default" link="/menu">Se menu</Normalbutton>
      </div>
    </section>
    <Instacarousel />
  </main>
  <Footer />
  <div>
    <Image src={Nightsky} alt="background sky" class="background_image" />
  </div>
  <script src="../scripts/burger.js"></script>
  <script src="../scripts/carousel.js"></script>
</Mainlayout>

<style>
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
</style>

<style
  define:vars={{
    webbg: `url(${optimizedWebBackground.src})`,
    mobilebg: `url(${optimizedMobileBackground.src})`,
  }}
>
  .index_header {
    display: grid;
    justify-content: center;
    justify-items: center;
    background-image: var(--webbg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  @media (max-width: 770px) {
    .index_header {
      background-image: var(--mobilebg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
    }
  }
</style>
